body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-image:url("/Pictures/Background.jpg") ;
    margin: 0;
}
header {
    width: 100vw;
    text-align: center;
    width: 100%;
    background-color: green;
}
main {
    flex-grow: 1;
}
.lightbox {
    background-color: rgba(5,5,5,0.6);
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: none;
}
.lightbox.active{
    display:flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
